.patternBody {
  color: var(--foreground-rgb);
  background-image: url("https://hebbkx1anhila5yf.public.blob.vercel-storage.com/huellas-RnBAMMNDm5eyvSHunoT7J2fKQdRWHi.svg"),
    linear-gradient(to bottom, transparent, var(--background-end-rgb));
  background-color: var(--background-start-rgb);
  background-repeat: repeat;
  background-size: 200px, 100% 100%;
  background-position: center;
  min-height: 100vh;
}
